*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    box-sizing: border-box;
    font-family: poppins;
}
.container{
    display: flex;        
    min-height: 100dvh;
    width: 100%;
}
.solution{
    padding-top: 2rem;
    margin-left: 12rem;
    width: 100%;
    background-color: #272343;
    color: white;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #211e38 ;
    width: 12rem;
    height: 100%;
    overflow-x:hidden;
    /* border: 1px solid red; */
    scrollbar-gutter: stable;
}
.menu::-webkit-scrollbar{
    width: 10px;
}
.menu::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,,0.3) ; */
    background: transparent;
    border-radius: 6px;
    
}
.menu::-webkit-scrollbar-thumb{
    background-color:  #5f8beb2d;
    border-radius: 8px;
    min-height: 5px;
}
.menu::-webkit-scrollbar-thumb:hover{
    background-color: #395eac;
}
.menu .title{
    padding-top: 2rem;
    padding-bottom: 15px;
    text-align: center;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}
#quesNo{
    /* border: 1px solid greenyellow; */
    position: relative;
    padding: 20px;
    text-decoration: none;
}
#quesNo a{
    text-decoration: none;
    color: #ffffff;
    opacity: 0.5;
}
#quesNo a:active{
    color: aqua; 
}
#quesNo::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: rgb(50, 155, 224);
    bottom: 0;
    left: 0;
}
#quesNo:hover:after{
    width: 8px;
    transition: 0.3s ease;
    
}
#quesNo:hover{
    background-color:  rgb(57, 94, 172);
    transition: 0.3s ease ;
    transform: scale(1.02);    
}
#quesNo:hover a{
    opacity: 1;
}
.heading{
    text-align: center;
    /* background-color: #386a6c; */
}
.question{
    margin: 6rem 0 2rem 0;
    padding: 0 16px;
}
.question h3{
    display: inline;
}
.answer{
    padding:0 0 16px 16px;
}
.output{
    padding: 1em;
    width: 50%;
    background-color: #1b15419e;
}
.output-content{
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    color: black;
    display: block;
}
.output-content p{
    margin-top: 1rem;
}
